APP_HOST=0.0.0.0
APP_PORT=5005

ODOO_URL=https://hello.helpan.ro
ODOO_DB=helmat1
ODOO_USER=managehaba@gmail.com
ODOO_PASSWORD=
ODOO_STOCK_LOCATION_NAME=WH/Stock

SWAN_API_URL=
SWAN_BEARER_TOKEN=
SWAN_PUSH_API_URL=
SWAN_PUSH_BEARER_TOKEN=

ADMIN_TOKEN=
PROMO_VIEW_ID=
